In [3]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

# Set 1

1. Write a function that takes a list of numbers and returns the sum of all even numbers.

In [6]:
payload = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even_sum = sum(filter(lambda x: x % 2 == 0, payload))
even_sum

30

2. Create a program that prints the multiplication table (1-10) for a given number.

In [9]:
def get_multiplication_table(num: int) -> None:
    """Function is used to print the multiplication table of a given number

    Args:
        num (int): Number for which we need the multiplication table
    """
    for i in range(1, 11):
        print(f"{num} * {i} = {num * i}")


get_multiplication_table(5)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

3. Write a function that counts how many vowels are in a given string.

4. Create a program that converts temperatures between Fahrenheit and Celsius.

In [11]:
def farhenheit_to_celsius(farhenheit_temperature: float) -> float:
    celsius_temperature = (farhenheit_temperature - 32) * 5 / 9
    return celsius_temperature


farhenheit_to_celsius(98)

36.666666666666664

5. Write a function that returns the reverse of a string without using the reverse() method.

In [12]:
def reverse_string(input_string: str) -> str:
    return input_string[::-1]

reverse_string("Hello")

'olleH'

6. Create a function that checks if a string is a valid palindrome ignoring spaces, punctuation, and letter case.

7. Write a program that finds all prime numbers up to a given number using the Sieve of Eratosthenes algorithm.

8. Create a function that takes a list of integers and returns the longest sequence of consecutive numbers.

9. Write a program that simulates a basic bank account with deposit, withdraw, and balance check methods.

10. Create a function that finds the first non-repeating character in a string.

11. Implement a custom decorator that measures and prints the execution time of any function it decorates.

12. Create a generator function that yields all possible combinations of a given list of elements.

13. Write a program that implements a basic LRU (Least Recently Used) cache with a given capacity.

14. Create a function that performs matrix multiplication without using external libraries.

15. Implement a basic web scraper that extracts all links from a given HTML string using only built-in Python libraries.

16. Implement a binary search tree class with insert, delete, and traversal methods.

17. Create a program that solves the N-Queens problem for any given board size.

18. Implement a basic thread-safe queue using Python's threading module.

19. Write a memory-efficient function to find the k most frequent elements in a very large file.

20. Create a basic regex parser that can handle simple patterns (literals, wildcards, and character classes).

# Set 2

In [4]:
# Sales Data
sales_data = pd.DataFrame(
    {
        "date": [
            "2024-01-01",
            "2024-01-01",
            "2024-01-02",
            "2024-01-02",
            "2024-01-03",
            "2024-01-03",
            "2024-01-04",
            "2024-01-04",
            "2024-01-05",
            "2024-01-05",
        ],
        "product": [
            "Laptop",
            "Phone",
            "Laptop",
            "Tablet",
            "Phone",
            "Tablet",
            "Laptop",
            "Phone",
            "Tablet",
            "Phone",
        ],
        "category": [
            "Electronics",
            "Electronics",
            "Electronics",
            "Electronics",
            "Electronics",
            "Electronics",
            "Electronics",
            "Electronics",
            "Electronics",
            "Electronics",
        ],
        "price": [1200, 800, 1200, 500, 800, 500, 1200, 800, 500, 800],
        "quantity": [1, 2, 1, 3, 2, 1, 2, 3, 2, 1],
        "customer_id": [
            "C001",
            "C002",
            "C003",
            "C001",
            "C004",
            "C002",
            "C005",
            "C003",
            "C001",
            "C002",
        ],
    }
)

# Customer Data
customer_data = pd.DataFrame(
    {
        "customer_id": ["C001", "C002", "C003", "C004", "C005"],
        "name": [
            "John Smith",
            "Jane Doe",
            "Bob Wilson",
            "Alice Brown",
            "Charlie Davis",
        ],
        "age": [25, 30, 45, 35, 28],
        "signup_date": [
            "2023-12-01",
            "2023-12-15",
            "2023-12-20",
            "2024-01-01",
            "2024-01-02",
        ],
        "country": ["USA", "Canada", "USA", "UK", "Canada"],
        "email": [
            "john@email.com",
            "jane@email.com",
            "bob@email.com",
            "alice@email.com",
            "charlie@email.com",
        ],
    }
)

# Product Reviews
reviews_data = pd.DataFrame(
    {
        "date": [
            "2024-01-02",
            "2024-01-02",
            "2024-01-03",
            "2024-01-04",
            "2024-01-04",
            "2024-01-05",
            "2024-01-05",
            "2024-01-06",
            "2024-01-06",
            "2024-01-07",
        ],
        "product": [
            "Laptop",
            "Phone",
            "Tablet",
            "Laptop",
            "Phone",
            "Laptop",
            "Tablet",
            "Phone",
            "Tablet",
            "Laptop",
        ],
        "customer_id": [
            "C001",
            "C002",
            "C002",
            "C003",
            "C001",
            "C004",
            "C003",
            "C005",
            "C001",
            "C002",
        ],
        "rating": [5, 4, 3, 5, 4, 3, 5, 4, 3, 5],
        "review_text": [
            "Great laptop!",
            "Good phone",
            "Decent tablet",
            "Excellent performance",
            "Nice features",
            "Average",
            "Very useful",
            "Good value",
            "Could be better",
            "Love it!",
        ],
    }
)

#### Beginner Level
- How many unique customers made purchases?
- What is the total revenue per product?
- Find the customer who spent the most money

In [9]:
sales_data.customer_id.nunique()

5

In [31]:
sales_data.groupby('product').apply(lambda x: (x['price'] * x['quantity']).sum())

product
Laptop    4800
Phone     6400
Tablet    3000
dtype: int64

In [36]:
sales_data.groupby('customer_id').apply(lambda x: (x['price'] * x['quantity']).sum()).idxmax()

'C001'

#### Simple Filtering:

- Get all purchases made by customer 'C001'
- Find all products that were sold more than 2 units in a single transaction
- List all Canadian customers

In [38]:
sales_data[sales_data['customer_id'] == 'C001']

         date product     category  price  quantity customer_id
0  2024-01-01  Laptop  Electronics   1200         1        C001
3  2024-01-02  Tablet  Electronics    500         3        C001
8  2024-01-05  Tablet  Electronics    500         2        C001

In [41]:
sales_data[sales_data['quantity'] > 2]

         date product     category  price  quantity customer_id
3  2024-01-02  Tablet  Electronics    500         3        C001
7  2024-01-04   Phone  Electronics    800         3        C003

In [44]:
customer_data[customer_data['country'].str.contains('Canada')]

  customer_id           name  age signup_date country              email
1        C002       Jane Doe   30  2023-12-15  Canada     jane@email.com
4        C005  Charlie Davis   28  2024-01-02  Canada  charlie@email.com

#### Basic Aggregation:

- Calculate the average price per product
- Find the total quantity sold for each product
- Count the number of purchases per customer

In [77]:
sales_data.groupby('product')['price'].mean()

product
Laptop    1200.0
Phone      800.0
Tablet     500.0
Name: price, dtype: float64

In [48]:
sales_data.groupby('product')['quantity'].sum()

product
Laptop    4
Phone     8
Tablet    6
Name: quantity, dtype: int64

In [82]:
sales_data.groupby('customer_id')['customer_id'].size()

customer_id
C001    3
C002    3
C003    2
C004    1
C005    1
Name: customer_id, dtype: int64

#### Data Merging and Analysis:

- Combine sales data with customer information to show purchase history with customer details
- Calculate the average rating for each product along with its total sales
- Find which country's customers spend the most on average

In [68]:
customer_sales_data = pd.merge(customer_data, sales_data, how='outer', on='customer_id')
retail_data  = pd.merge(customer_sales_data, reviews_data, how='outer', on=['customer_id', 'product'], suffixes=['', '_review'])
retail_data

,customer_id,name,age,signup_date,country,email,date,product,category,price,quantity,date_review,rating,review_text
0,C001,John Smith,25.0,2023-12-01,USA,john@email.com,2024-01-01,Laptop,Electronics,1200.0,1.0,2024-01-02,5.0,Great laptop!
1,C001,NaN,NaN,NaN,NaN,NaN,NaN,Phone,NaN,NaN,NaN,2024-01-04,4.0,Nice features
2,C001,John Smith,25.0,2023-12-01,USA,john@email.com,2024-01-02,Tablet,Electronics,500.0,3.0,2024-01-06,3.0,Could be better
3,C001,John Smith,25.0,2023-12-01,USA,john@email.com,2024-01-05,Tablet,Electronics,500.0,2.0,2024-01-06,3.0,Could be better
4,C002,NaN,NaN,NaN,NaN,NaN,NaN,Laptop,NaN,NaN,NaN,2024-01-07,5.0,Love it!
5,C002,Jane Doe,30.0,2023-12-15,Canada,jane@email.com,2024-01-01,Phone,Electronics,800.0,2.0,2024-01-02,4.0,Good phone
6,C002,Jane Doe,30.0,2023-12-15,Canada,jane@email.com,2024-01-05,Phone,Electronics,800.0,1.0,2024-01-02,4.0,Good phone
7,C002,Jane Doe,30.0,2023-12-15,Canada,jane@email.com,2024-01-03,Tablet,Electronics,500.0,1.0,2024-01-03,3.0,Decent tablet
8,C003,Bob Wilson,45.0,2023-12-20,USA,bob@email.com,2024-01-02,Laptop,Electronics,1200.0,1.0,2024-01-04,5.0,Excellent performance
9,C003,Bob Wilson,45.0,2023-12-20,USA,bob@email.com,2024-01-04,Phone,Electronics,800.0,3.0,NaN,NaN,NaN
10,C003,NaN,NaN,NaN,NaN,NaN,NaN,Tablet,NaN,NaN,NaN,2024-01-05,5.0,Very useful
11,C004,NaN,NaN,NaN,NaN,NaN,NaN,Laptop,NaN,NaN,NaN,2024-01-05,3.0,Average
12,C004,Alice Brown,35.0,2024-01-01,UK,alice@email.com,2024-01-03,Phone,Electronics,800.0,2.0,NaN,NaN,NaN
13,C005,Charlie Davis,28.0,2024-01-02,Canada,charlie@email.com,2024-01-04,Laptop,Electronics,1200.0,2.0,NaN,NaN,NaN
14,C005,NaN,NaN,NaN,NaN,NaN,NaN,Phone,NaN,NaN,NaN,2024-01-06,4.0,Good value

In [69]:
retail_data['total_sales'] = retail_data['quantity'] * retail_data['price']

retail_data.groupby('product').aggregate({'rating': 'mean', 'total_sales': 'sum'})

         rating  total_sales
product
Laptop      4.5       4800.0
Phone       4.0       6400.0
Tablet      3.5       3000.0

In [73]:
retail_data.head(1)

,customer_id,name,age,signup_date,country,email,date,product,category,price,quantity,date_review,rating,review_text,total_sales
0,C001,John Smith,25.0,2023-12-01,USA,john@email.com,2024-01-01,Laptop,Electronics,1200.0,1.0,2024-01-02,5.0,Great laptop!,1200.0

In [72]:
retail_data.groupby('country')

#### Time-Based Analysis:

- Calculate daily sales totals
- Find the number of days between a customer's signup and their first purchase
- Create a running total of sales per product

In [83]:
sales_data.groupby('date').apply(lambda x: (x['price'] * x['quantity']).sum())

date
2024-01-01    2800
2024-01-02    2700
2024-01-03    2100
2024-01-04    4800
2024-01-05    1800
dtype: int64

In [91]:
customer_sales_data = customer_data.merge(sales_data, how='inner', on='customer_id')

customer_sales_data['signup_date'] = pd.to_datetime(customer_sales_data['signup_date'])
customer_sales_data['date'] = pd.to_datetime(customer_sales_data['date'])

(customer_sales_data['date'] - customer_sales_data['signup_date']).dt.days

0    31
1    32
2    35
3    17
4    19
5    21
6    13
7    15
8     2
9     2
dtype: int64

In [92]:
sales_data.groupby('product').apply(
    lambda x: (x['price'] * x['quantity']).cumsum()
).reset_index(level=0, drop=True)

0    1200
2    2400
6    4800
1    1600
4    3200
7    5600
9    6400
3    1500
5    2000
8    3000
dtype: int64

#### Customer Behavior Analysis:

- Find customers who made purchases of all three products
- Calculate the average time between purchases for each customer
- Identify products that are often bought together by the same customer

#### Complex Analytics:
-  Create a customer segmentation based on:

    - Total spend
    - Purchase frequency
    - Average rating given


- Calculate customer lifetime value with a 30-day window
- Generate a product recommendation score based on purchase history and ratings

#### Text Analysis and Reporting:

- Analyze review sentiments (assuming positive words like "great", "excellent", "love" and negative words like "average", "could be better")
- Create a pivot table showing product performance by:
    - Sales revenue
    - Average rating
    - Number of reviews
- Generate a customer engagement score based on purchase frequency and review activity