In [1]:
import pandas as pd
import numpy as np

In [2]:
# Find Users With Valid E-Mails
users = pd.DataFrame(
    data={
        "user_id": [1, 2, 3, 4, 5, 6, 7],
        "name": [
            "Winston",
            "Jonathan",
            "Annabelle",
            "Sally",
            "Marwan",
            "David",
            "Shapiro",
        ],
        "mail": [
            "winston@leetcode.com",
            "jonathanisgreat",
            "bella-@leetcode.com",
            "sally.come@leetcode.com",
            "quarz#2020@leetcode.com",
            "david69@gmail.com",
            ".shapo@leetcode.com",
        ],
    }
)

In [3]:
account_id | income |
+------------+--------+
| 3          | 108939 |
| 2          | 12747  |
| 8          | 87709  |
| 6          | 91796  |

SyntaxError: invalid syntax (3143368341.py, line 1)

In [11]:
accounts = pd.DataFrame(
    data = {
        "account_id": [3, 2, 8, 6],
        "income": [108939, 12747, 87709, 91796]
    }
)

In [12]:
accounts.apply(lambda x: 'High' if x['income'] > 50000 else 'Medium' if 20_000 <= x['income'] <= 50_000 else 'Low', axis=1)

0    High
1     Low
2    High
3    High
dtype: object

In [17]:
category = pd.cut(
    accounts["income"],
    bins=[float("-inf"), 20_000, 50_000, float("inf")],
    labels=["Low Salary", "Average Salary", "High Salary"],
)