In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.DataFrame({"tweet": ["dswjruiwehuignwejr", "ebitbeiuybthiren"]})

In [9]:
data[data['tweet'].str.len() < 17]

              tweet
1  ebitbeiuybthiren